{% extends 'Main/nav.html' %}
{% block title%} {{ note.name }} {% endblock %}
{% block index %}

{% include 'django_quill/media.html' %}

<div class="row">
    <div class="col-md-9">
        <h2>{{ note.title }}</h2>
        <p>{{ note.description }} {{ mode }}</p>
    </div>
    <div class="col-md-3">
        <i class="fas fa-share-alt"></i>
        <i class="fas fa-cog"></i><br>
        {% if mode == 'edit' %}
        <a href="?">
            <i class="fas fa-save"></i>
        </a>
        {% else %}
        <a href="?mode=edit">
            <i class="fas fa-edit"></i>
        </a>
        {% endif %}
        <span>Last edited : {{ note.updated_at }}</span>
    </div>
</div>

{% if mode == 'edit' %}
{{ form.content }}
{% else %}
{{ note.content.html | safe}}
{% endif %}

{% endblock %}