{% extends 'Main/nav.html' %}
{% block title%} {{ note.title }} {% endblock %}
{% block index %}

{% include 'django_quill/media.html' %}

<div class="row">
    <div class="col-md-9">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message.message }}
        </div>
        {% endfor %}
        {% endif %}
        <h2>{{ note.title }}</h2>
        <p>{{ note.description }} {{ mode }}</p>
        <hr>
    </div>
    <div class="col-md-3">
        <i class="fas fa-share-alt" data-mdb-toggle="modal" data-mdb-target="#share"></i>
        <div class="modal fade" id="share" tabindex="-1" aria-labelledby="shareLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shareLabel">Share Settings</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'NoteVisibility' url %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-outline mb-4">
                                {{ visibilityForm.as_p }}
                            </div>
                        </div>
                        <!-- <div class="modal-body">
                            <div class="form-outline mb-4">
                                {{ noteUsersForm.as_table }}
                            </div>
                        </div> -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <i class="fas fa-cog"></i><br>
        {% if mode == 'edit' %}
        <a href="?">
            <i class="fas fa-save"></i>
        </a>
        {% else %}
        <a href="?mode=edit">
            <i class="fas fa-edit"></i>
        </a>
        {% endif %}
        <span>Last edited : {{ note.updated_at }}</span>
    </div>
</div>

{% if mode == 'edit' %}
<form method="post" onkeydown="isKeyPressed(event)">
    {% csrf_token %}
    {{ form.content }}
    <button type="submit">Save</button>
</form>
{% else %}
{{ note.content.html | safe}}
{% endif %}


<script>
    // setInterval(function () {
    //     console.log('hehe')
    // }, 6000);
    // let text = document.getElementsByClassName('ql-editor')[0];
    // text.addEventListener('input', function (event) {
    //     console.log(text.innerText);
    // if (event.shiftKey && event.keyCode == 9) {
    //     console.log("The SHIFT key was pressed!");
    // } else {
    //     console.log("The SHIFT key was not pressed!");
    // }
    // fetch('/updateNote/{{ note.url }}', {
    //     method: 'POST',
    //     headers: {
    //         'X-CSRFToken': '{{ csrf_token }}'
    //     },
    //     body: JSON.stringify({
    //         content: text.innerText
    //     }),
    // })
    // });

    function test(data) {
        console.log(data)
        document.getElementsByClassName('ql-editor')[0].innerHTML = data['content'];
    }

    function isKeyPressed(event) {
        if (event.shiftKey) {
            let text = document.getElementsByClassName('ql-editor')[0];
            fetch('/recommendation', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    content: text.innerHTML
                })
            }).then(response => response.json())
                .then(data => test(data));
        }
    }
</script>
{% endblock %}