{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-2">
        <div>
            <img src=" {% static 'Images/logo.jpg' %}" alt="Logo" style="width: 200px;">
        </div>
        <h4>Hello {{ user }},<br> Welcome back 😊 !</h4>
        <hr>
        {% for note in notes %}
        <a href="{% url 'note' note.url %}"> {{ note.name }} </a><br>
        {% endfor %}
        <hr>
        <a href="{% url 'logout' %}">logout</a>
    </div>

    <div class="col-md-10">
        {% block index %}
        {% endblock %}
    </div>
</div>
{% endblock %}